# Node modules
node_modules/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Parcel-bundler cache (https://parceljs.org/)
.cache

# Next.js build output
.next/

# Nuxt.js build output
.nuxt/

# Gatsby files
.cache/
public/

# Gridsome files
.cache/
public/

# Vuepress build output
.vuepress/dist

# Hexo build output
public/

# Styleguidist
styleguide/

# Storybook
.storybook/
out/
.storybook-out/

# Static build directory
dist/
out/

# Build directories
build/
public/build/

# Expo
.expo/
.expo-shared/

# iOS
build/
ios/Pods/

# Android
build/
android/.gradle
android/app/build/
android/app/src/main/assets/index.android.bundle
android/app/src/main/assets/shell-app.bundle
android/app/src/main/assets/shell-app-manifest.json
android/app/src/main/java/com/PROJECT_NAME/MainActivity.java

# Cache
.npm/
.yarn/
.pnpm-store/
.pnp.*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Miscellaneous
.DS_Store
Thumbs.db
